<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LearnersAcademy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentController</display-name>
    <servlet-name>StudentController</servlet-name>
    <servlet-class>com.learners.controllers.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentController</servlet-name>
    <url-pattern>/StudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassController</display-name>
    <servlet-name>ClassController</servlet-name>
    <servlet-class>com.learners.controllers.ClassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassController</servlet-name>
    <url-pattern>/ClassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.learners.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TeacherController</display-name>
    <servlet-name>TeacherController</servlet-name>
    <servlet-class>com.learners.controllers.TeacherController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TeacherController</servlet-name>
    <url-pattern>/TeacherController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubjectController</display-name>
    <servlet-name>SubjectController</servlet-name>
    <servlet-class>com.learners.controllers.SubjectController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubjectController</servlet-name>
    <url-pattern>/SubjectController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClassDetailsController</display-name>
    <servlet-name>ClassDetailsController</servlet-name>
    <servlet-class>com.learners.controllers.ClassDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDetailsController</servlet-name>
    <url-pattern>/ClassDetailsController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>StudentFilter</display-name>
    <filter-name>StudentFilter</filter-name>
    <filter-class>com.learners.filters.StudentFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <url-pattern>/StudentFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StudentFilter</filter-name>
    <servlet-name>StudentController</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>ClassFilter</display-name>
    <filter-name>ClassFilter</filter-name>
    <filter-class>com.learners.filters.ClassFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClassFilter</filter-name>
    <url-pattern>/ClassFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClassFilter</filter-name>
    <servlet-name>ClassDetailsController</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>SubjectFilter</display-name>
    <filter-name>SubjectFilter</filter-name>
    <filter-class>com.learners.filters.SubjectFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SubjectFilter</filter-name>
    <url-pattern>/SubjectFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SubjectFilter</filter-name>
    <servlet-name>SubjectController</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>TeacherFilter</display-name>
    <filter-name>TeacherFilter</filter-name>
    <filter-class>com.learners.filters.TeacherFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <url-pattern>/TeacherFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TeacherFilter</filter-name>
    <servlet-name>TeacherController</servlet-name>
  </filter-mapping>
</web-app>